{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% block content %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="real_name">Real Name:</label>
            <input type="text" class="form-control" placeholder="Real Name" id="real_name" name="real_name">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
        <br><br>
        {% for message in messages %}
        
        <div class="alert alert-success">
        <p class="text-danger">{{ message }}</p>
        
            
        
        </div>
        {% endfor %}
    </form>
    
    
    
    {% endblock %}
</body>
</html>