{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged IN</title>
</head>
<body>
    {% block content %}
    <h3>Successful logged in with {{data.REAL_NAME}}</h3>
    <ul class="list-group">
        {% for key,value in data.items %}
        <li class="list-group-item active">{{key}}: {{value}}</li>
        {% endfor %}
    </ul>
    
    <br>
    <a href="{% url 'home' %}" class="btn btn-primary">Home</a> 
    {% endblock %}
</body>
</html>