{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    {% block content %}
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
        <label for="unique_id">ID :</label>
        <input type="text" name="unique_id" id="unique_id" placeholder="ID">
        </div>
        <div class="form-group">
        <label for="real_name">Real Name :</label>
        <input type="text" name="real_name" id="real_name" placeholder="Real Name">
        </div>
        <div class="form-group">
        <label for="tz">TZ :</label>
        <input type="text" name="tz" id="tz" placeholder="TZ">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
    </form>
    <br><br>
    {% for message in messages %}
    
    <div class="alert alert-success">
        <p class="text-danger">{{ message }}</p>
    
    
    
    </div>
    {% endfor %}
    {% endblock %}
</body>
</html>